header{
    padding: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr; 
    grid-template-areas: 
    "logo cargo cargo nav";
}
.logo{
    grid-area: logo;
}
.logo p{
    font-size: 1.2em;
}
.cargo{
    grid-area: cargo;
}
.cargo p{
    font-size: 1.2em; 
}   
.nav{
    grid-area: nav;
}
.nav a{
    font-size: 1.2em; 
    color:var(--body-color-secundaria);
}
.nav ul{
    display: flex;
    justify-content: right;
    gap: 2rem;
}
.menu_fixo_page{
    position: fixed;
    background: var(--bg-menu);
    width: 0;
    height: 100vh;
    top: 0;
    right: 0;
    z-index:999;
    /* display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center; */
    overflow-y: hidden;
    overflow-x: hidden;
    transition: .5s;
}
.menu_fixo_page.active{
    display:flex;
    width: 40%;
    height: 100vh;
    border-radius: 0;
    top: 0;
    right: 0;
    /* font-size:2em; */
    /* padding:1rem; */
    visibility: visible;
    transition: .5s;
}
.menu_fixo_page{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:3em;
}
.menu_fixo_page a:hover{
    color: #d8d8d8;
    transition: .5s;
}
#butoon_menu_fixo{
    padding: 1.7rem 1rem 1.7rem 1rem;
    background: none;
    color:white;
    background: rgba(0, 0, 0, 0.249);

}
#butoon_menu_fixo:hover{
    background: #000;
    color: white;
    transition: .6s;
}
.menu_fixo_page ul a{
    color:#fff;
    /* font-size:3em; */
} 
/* .menu_fixo_page ul a:hover{
    font-size:1.1em;
} */
.menu_fixo_page ul{
    gap: 4em;
} 

/* ------------------------------------------- */
#butoon_darkmode{
    color:#fff;
    font-size:0.5em;
    position:absolute;
    top:4em;
    left:3em;
    background:none;
    cursor:pointer;
    border:none;
}
@media only screen and (max-width: 768px){
    .cargo{
        display: none;
    }
    .br{
        display: none;
    }
    .nav{
        display:none;
    }
    header{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.3fr; 
        grid-template-areas: 
        "logo nav";
    }
    .menu_fixo_page.active {
        width: 100%;
    }
    .menu_fixo_page{
        font-size:2em;
    }
}
