*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Flex', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Teko', sans-serif; */
    /* color:rgb(38, 38, 38); */
}
.body::-webkit-scrollbar{
    width: 9px;
    background: none;
}
.body::-webkit-scrollbar-thumb{
    /* border-radius: 3px; */
    background: #404040;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:var(--body-color-primaria);
    cursor: pointer;
}
h1{
    color:var(--body-color-primaria);
}
p{
    color:var(--body-color-primaria);
}
h3{
    color:var(--body-color-primaria);
}
body{
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: var(--body-bg);
}
.scrolltop{
    /* background: rgba(59, 131, 189); */
    border: none;
    border-radius:50%;
    position: fixed;
    top: -5em;
    right: 2em;
    cursor: pointer;
    outline: none;
    z-index: 999;
    /* opacity: 0; */
    /* display: none; */
    visibility: hidden;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
/* .scrolltop:hover{
    background: rgb(80, 143, 194);;
    transition: 0s;
} */
.scrolltop.active {
    visibility: visible;
    top: 4em;
    right: 2em;
    transition: 0.2s;
}
.scrolltop span{
    color: #fff;
}
#menu_fixo{
    font-size:3em;
    padding: 0.7em;
}
.scroll{
    visibility: hidden;
}
.scroll2{
    visibility: hidden;
}

@media only screen and (max-width: 768px){
    body{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .scrolltop{
        display: flex;
        top: 3em;
        right: 2em;
        box-shadow: #000;
        visibility: visible;
    }
    #menu_fixo{
        font-size:1.5em;
    }
    
}
